.timer-container {
  font-size: 100px;

  button {
    border: none;
    outline: none;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  svg {
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
  }
}

.timer {
  > * {
    font-size: 100px;
  }

  span {
    display: inline-flex;
    width: 250px;
    justify-content: center;
  }

  button {
    width: 100px;
  }
}

.controls {
  button {
    font-size: 50px;
  }
}
