.timer-container {
  font-size: 100px;

  button {
    border: none;
    outline: none;
    justify-content: space-around;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  svg {
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
  }
}

.timer {
  > * {
    font-size: 100px;
  }

  span {
    display: inline-flex;
    width: calc(100vw/3);
    justify-content: center;
    cursor: default;
    background: none;
  }

  button {
    width: 100px;
    background: none;
  }
}

.controls {
  button {
    font-size: 50px;
  }

  height: 50px;
  background: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
